<template>
  <div class="mainPageContainer auth0">
    <h1 v-if="isAuthenticated">Welcome!</h1>
    <div>
      <button v-if="!isAuthenticated" @click="loginWithRedirect">Login</button>
      <button v-if="isAuthenticated" @click="logout">Logout</button>
    </div>
    <div v-if="inviteKey">
      <p>Invite Key: {{ inviteKey }}</p>
    </div>
  </div>
</template>

<script setup>
import { useAuth0 } from '@auth0/auth0-vue'
import { ref, onMounted } from 'vue'

const { loginWithRedirect, logout, isAuthenticated } = useAuth0()
const inviteKey = ref(new URLSearchParams(window.location.search).get('invite')) // Get invite key from URL

onMounted(() => {
  console.log('Invite Key:', inviteKey.value) // Debugging output
})
</script>
