<template>
  <div class="mainPageContainer fileUploadContainer">
    <div class="uploadContainer">
      <h1 class="uploadTitle">File Upload</h1>
      <SpicyAlert
        class="uploadAlert"
        v-if="alertVisible"
        :text="alertText"
        :variant="alertType"
        autoClose="5000"
        closable
      />
      <SpicyFileInput
        clearable
        :mdi="mdiClose"
        :disabled="!isLoggedIn"
        class="fileUploadInput"
        color="var(--skPrimaryColor)"
        variant="solid"
        label="Drag & drop a file or click Here"
        @change="onFileChange"
      />
      <div v-if="isLoggedIn" class="uploadBtnContainer">
        <SpicyBtn
          class="uploadBtn"
          text="Upload"
          variant="outlined"
          borderColor="#80008060"
          bgColor="#00000080"
          hoverColor="#80008060"
          @click="uploadFile"
        />
      </div>
      <div class="otherBtnsContainer">
        <SpicyBtn
          class="loginBtn uploadBtns"
          v-if="!isLoggedIn"
          text="Login"
          variant="outlined"
          borderColor="#80008060"
          bgColor="#00000080"
          hoverColor="#80008060"
          @click="routeTo('/login')"
        />
        <SpicyBtn
          class="fileManagementBtn uploadBtns"
          v-if="isLoggedIn"
          text="File Manager"
          variant="outlined"
          borderColor="#80008060"
          bgColor="#00000080"
          hoverColor="#80008060"
          @click="routeTo('/filemanagement')"
        />
        <SpicyBtn
          class="accountBtn uploadBtns"
          v-if="isLoggedIn"
          text="Account"
          variant="outlined"
          borderColor="#80008060"
          bgColor="#00000080"
          hoverColor="#80008060"
          @click="routeTo('/account')"
        />
      </div>
      <div class="uploading" v-if="isUploading">
        <h2>Uploading...</h2>
        <SpicyProgress type="circular" showLabel :value="uploadProgress" :model-value="uploadProgress" />
      </div>
      <div class="copyLinkContainer" v-if="fileUrl && isLoggedIn">
        <p class="fileUrl">
          File URL: <a :href="fileUrl" target="_blank">{{ fileUrl }}</a>
        </p>
        <SpicyBtn
          text="Copy Link"
          variant="outlined"
          borderColor="#80008060"
          bgColor="#00000080"
          hoverColor="#a8000060"
          class="copyLinkBtn"
          @click="copyLink"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import axios from 'axios'
import { checkAuthentication, isLoggedIn, routeTo } from '../js/fileManager'
import { useHead, useSeoMeta } from '@unhead/vue'
import { mdiClose } from '@mdi/js'

useSeoMeta({
  title: 'Upload',
  description: 'Spicy Cloud - Upload',
  keywords: 'Spicy Cloud, Account, Upload, SpicyKatsu, Cloud',
  ogTitle: 'Upload',
  ogDescription: 'Spicy Cloud - Upload',
  ogUrl: 'https://spicykatsu.dev/fileupload'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/fileupload'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Upload',
        description: 'Spicy Cloud - Upload',
        url: 'https://spicykatsu.dev/fileupload'
      })
    }
  ]
})

const file = ref(null)
const fileUrl = ref('')
const isUploading = ref(false)
const uploadProgress = ref(0)
const alertVisible = ref(false)
const alertText = ref('')
const alertType = ref('')

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 5000)
}

const copyLink = () => {
  navigator.clipboard.writeText(fileUrl.value)
  showAlert('Link copied to clipboard', 'success')
}

const onFileChange = (event) => {
  const files = event?.target || event
  if (files && files.length > 0) {
    file.value = files[0]
  } else {
    file.value = null
  }
}

const uploadFile = async () => {
  if (!file.value) {
    showAlert('No file selected', 'error')
    return
  }

  isUploading.value = true
  const formData = new FormData()
  formData.append('file', file.value, file.value.name)

  try {
    const response = await axios.post('/web/fm/upload', formData, {
      withCredentials: true,
      onUploadProgress: (progressEvent) => {
        uploadProgress.value = Math.round((progressEvent.loaded * 100) / progressEvent.total)
      }
    })

    fileUrl.value = response.data.url || ''
    showAlert(response.data.message, 'success')
  } catch (error) {
    if (error.response.data.error) {
      showAlert(error.response.data.error, 'error')
    } else {
      showAlert('An unexpected error occurred during the upload.', 'error')
      console.log('Unexpected error:', error)
    }
  } finally {
    isUploading.value = false
  }
}

onMounted(() => {
  checkAuthentication()
})
</script>

<style>
.uploadContainer {
  width: 400px;
}

.uploadAlert {
  margin-bottom: 20px;
}

.files,
.uploading,
.uploadContainer,
.copyLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadTitle,
.uploadBtnContainer {
  margin-bottom: 20px;
}

.otherBtnsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.uploadBtnContainer {
  display: flex;
  width: 100%;
}

.uploadBtn {
  flex: 1 1 100%;
  margin: 10px 0;
}

.copyLinkContainer {
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px #80008060 solid;
}

.fileUrl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.uploading,
.copyLinkBtn,
.fileUploadInput,
.fileManagementBtn {
  width: 100%;
}

.fileUploadInput {
  height: 75px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  border-color: #80008060;
}

.fileManagementBtn,
.accountBtn {
  margin-right: 4px;
}

.spicyBtn.fileManagementBtn {
  padding: 8px 12px;
}
</style>
