<template>
  <div class="mainPageContainer registerContainer">
    <h1 class="registerTitle">Register</h1>
    <SpicyAlert v-if="alertVisible" :variant="alertType" :text="alertText" autoClose="5000" closable />
    <form class="registerForm" @submit.prevent="handleRegister">
      <label class="registerLabel" for="username">Username:</label>
      <input class="registerInput" v-model="username" type="text" id="username" required />
      <label class="registerLabel" for="password">Password:</label>
      <input class="registerInput" v-model="password" type="password" id="password" required />
      <label class="registerLabel" for="invite_code">Invite Code:</label>
      <input class="registerInput" v-model="inviteCode" type="text" id="invite_code" required />
      <SpicyBtn
        class="registerBtn"
        text="Register"
        value="Register"
        type="submit"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#80008060"
      />
    </form>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import axios from 'axios'
import { routeTo } from '../js/fileManager'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Register',
  description: 'Spicy Cloud - Register',
  keywords: 'Spicy Cloud, Account, Register, SpicyKatsu, Cloud',
  ogTitle: 'Register',
  ogDescription: 'Spicy Cloud - Register',
  ogUrl: 'https://spicykatsu.dev/register'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/register'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Register',
        description: 'Spicy Cloud - Register',
        url: 'https://spicykatsu.dev/register'
      })
    }
  ]
})

const username = ref('')
const password = ref('')
const inviteCode = ref('')
const alertVisible = ref(false)
const alertText = ref('')
const alertType = ref('')

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 3000)
}

const handleRegister = async () => {
  try {
    const response = await axios.post(
      'https://spicykatsu.dev/web/register',
      { username: username.value, password: password.value, invite_code: inviteCode.value },
      { withCredentials: true }
    )

    const result = response.data

    if (result.success) {
      showAlert('Registration successful. Redirecting to login page...', 'success')
      setTimeout(() => {
        window.location.href = '/login'
      }, 1500)
    } else if (result.user_exists) {
      showAlert('Username already exists.', 'error')
    } else if (result.invite_code_invalid) {
      showAlert('Invalid invite code.', 'error')
    } else if (result.error) {
      showAlert(result.error, 'error')
    }
  } catch (error) {
    showAlert('An error occurred while trying to register.', 'error')
  }
}
</script>

<style>
.registerContainer {
  text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background: #00000070;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid #80008060;
}

.registerInput {
  margin: 10px 0 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
</style>
