<template>
  <div class="mainPageContainer filesAccount">
    <h1 class="accountTitle">My Account</h1>
    <p class="currentUser" v-if="currentUser">
      Logged in as: <span class="username">{{ currentUser.username }}</span>
    </p>
    <p class="noAuth" v-if="!currentUser">Not logged in.</p>
    <div class="changePasswordContainer" v-if="currentUser">
      <p class="passTitle">Change Password</p>

      <label class="accountPWLabel" for="currentPassword">Current Password:</label>
      <input class="accountPWInput" type="password" id="currentPassword" v-model="currentPassword" />

      <label class="accountPWLabel" for="newPassword">New Password:</label>
      <input class="accountPWInput" type="password" id="newPassword" v-model="newPassword" />

      <SpicyBtn
        class="changePWBtn"
        text="Change Password"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#80008060"
        @click="changePassword"
        :disabled="loading"
      />
    </div>
    <SpicyAlert v-if="alertVisible" :text="alertText" :variant="alertType" autoClose="5000" closable />
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import axios from 'axios'
import { routeTo } from '../js/fileManager'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'My Account',
  description: 'Spicy Cloud - My Account',
  keywords: 'Spicy Cloud, Account, My Account, SpicyKatsu, Cloud',
  ogTitle: 'My Account',
  ogDescription: 'Spicy Cloud - My Account',
  ogUrl: 'https://spicykatsu.dev/account'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/account'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'My Account',
        description: 'Spicy Cloud - My Account',
        url: 'https://spicykatsu.dev/account'
      })
    }
  ]
})

const loading = ref(false)
const currentPassword = ref('')
const newPassword = ref('')
const alertVisible = ref(false)
const alertText = ref('')
const alertType = ref('')
const currentUser = ref(null)

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 3000)
}

onMounted(async () => {
  try {
    const response = await axios.get('/web/checkauth', {
      withCredentials: true
    })
    if (response.data.authenticated) {
      currentUser.value = response.data
    } else {
      routeTo('/login')
    }
  } catch (err) {
    console.error('Failed to fetch user information:', err)
    showAlert('Failed to fetch user information.', 'error')
  }
})

const changePassword = async () => {
  if (!currentPassword.value || !newPassword.value) {
    showAlert('Please enter both current and new passwords.', 'error')
    return
  }

  const formData = new FormData()
  formData.append('currentPassword', currentPassword.value)
  formData.append('newPassword', newPassword.value)

  try {
    loading.value = true
    const response = await axios.post(`/web/changepw`, formData, {
      withCredentials: true
    })
    const result = response.data
    if (result.success) {
      currentPassword.value = ''
      newPassword.value = ''
      showAlert('Password changed successfully.', 'success')
    } else {
      showAlert('An error occurred while changing the password.', 'error')
    }
  } catch (err) {
    console.error(err)
    showAlert('An error occurred while changing the password.', 'error')
  } finally {
    loading.value = false
  }
}
</script>

<style>
.changePasswordContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #80008060;
  border-radius: 6px;
  background: #00000070;
}

.currentUser {
  margin-bottom: 20px;
  font-size: 20px;
}

.passTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.accountPWLabel {
  display: block;
  margin-bottom: 5px;
}

.accountPWInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.changePWBtn {
  width: 100%;
}
</style>
