<template>
  <div class="mainPageContainer loginContainer">
    <SpicyAlert v-if="alertVisible" :text="alertText" :variant="alertType" autoClose="5000" closable />
    <div v-if="!isLoggedIn">
      <form class="loginForm" @submit.prevent="handleLogin">
        <label class="loginLabel" for="username">Username:</label>
        <input class="loginInput" v-model="username" type="text" id="username" required />

        <label class="loginLabel" for="password">Password:</label>
        <input class="loginInput" v-model="password" type="password" id="password" required />

        <div class="loginBtns">
          <SpicyBtn
            class="loginBtn"
            text="Login"
            type="submit"
            variant="outlined"
            borderColor="#80008060"
            bgColor="#00000080"
            hoverColor="#80008060"
          />
          <SpicyBtn
            class="registerBtn"
            text="Register"
            variant="outlined"
            borderColor="#80008060"
            bgColor="#00000080"
            hoverColor="#80008060"
            @click="routeTo('/register')"
          />
        </div>
      </form>
    </div>

    <div v-if="isLoggedIn">
      <h3 class="loggedIn">
        You are logged in as: <span class="username">{{ user.username }}</span>
      </h3>
      <SpicyBtn
        class="fileUpload"
        text="File Upload"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#80008060"
        @click="routeTo('/fileupload')"
      />
      <SpicyBtn
        class="viewFiles"
        text="File Manager"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#80008060"
        @click="routeTo('/filemanagement')"
      />
      <SpicyBtn
        class="accountBtn"
        text="Account"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#80008060"
        @click="routeTo('/account')"
      />
      <SpicyBtn
        class="logoutBtn"
        text="Logout"
        variant="outlined"
        borderColor="#80008060"
        bgColor="#00000080"
        hoverColor="#a8000060"
        @click="handleLogout()"
      />
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import axios from 'axios'
import { logoutBtn, routeTo, isLoggedIn, checkAuthentication } from '../js/fileManager'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Login',
  description: 'Spicy Cloud - Login',
  keywords: 'Spicy Cloud, Account, Login, SpicyKatsu, Cloud',
  ogTitle: 'Login',
  ogDescription: 'Spicy Cloud - Login',
  ogUrl: 'https://spicykatsu.dev/login'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/login'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Login',
        description: 'Spicy Cloud - Login',
        url: 'https://spicykatsu.dev/login'
      })
    }
  ]
})

const username = ref('')
const password = ref('')
const user = ref({ username: '' })
const alertVisible = ref(false)
const alertText = ref('')
const alertType = ref('')

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 3000)
}

const handleLogin = async () => {
  const payload = {
    username: username.value,
    password: password.value
  }

  try {
    const response = await axios.post('https://spicykatsu.dev/web/login', payload, {
      headers: {
        'Content-Type': 'application/json'
      },
      withCredentials: true
    })

    const result = response.data

    if (result && result.authenticated) {
      isLoggedIn.value = true
      localStorage.setItem('isLoggedIn', 'true')
      user.value.username = result.username
      localStorage.setItem('username', result.username)
      showAlert('Login successful', 'success')

      username.value = ''
      password.value = ''
    } else {
      password.value = ''
      showAlert(result.error || 'Login failed', 'error')
    }
  } catch (error) {
    console.warn('Login request failed:', error.response?.data || error.message)
    showAlert('An error occurred while trying to log in', 'error')
  }
}

onMounted(() => {
  const storedUsername = localStorage.getItem('username')
  const storedLoginStatus = localStorage.getItem('isLoggedIn')
  if (storedLoginStatus === 'true') {
    isLoggedIn.value = true
    user.value.username = storedUsername
  } else {
    isLoggedIn.value = false
    user.value.username = ''
  }
})

const handleLogout = async () => {
  await logoutBtn(showAlert)
  showAlert('Logged out successfully', 'success')
}
</script>

<style>
.loggedIn {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.loginLabel {
  margin-top: 10px;
}

.loginInput {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  background: #00000070;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #80008060;
}

.loginBtns {
  margin-top: 20px;
  width: 100%;
}

.loginBtn,
.viewFiles,
.loginContainer .accountBtn,
.fileUpload {
  margin-bottom: 4px;
}

.registerBtn,
.accountBtn,
.loginBtn,
.logoutBtn,
.viewFiles,
.fileUpload {
  width: 100%;
}

.username {
  color: aqua;
}
</style>
