<template>
  <div class="mainPageContainer fileManagement" fluid>
    <SpicyAlert v-if="alertVisible" :text="alertText" :variant="alertType" autoClose="5000" closable />
    <ConfirmDialog
      v-if="confirmVisible"
      v-model="confirmVisible"
      :text="confirmText"
      @confirm="handleConfirm"
    />
    <SpicyDialog v-model="renameDialogVisible" maxWidth="500px">
      <SpicySheet class="renameSheet" color="var(--skBgColor)" padding="20px" isRound>
        <h1>Rename File</h1>
        <SpicyTextField
          class="renameInput"
          v-model="newFileName"
          label="New Filename"
          clearable
          :mdi="mdiClose"
        />
        <div class="renameBtns">
          <SpicyBtn bgColor="#4caf50" text="Rename" @click="confirmRename" />
          <SpicyBtn bgColor="#b71c1c" text="Cancel" @click="renameDialogVisible = false" />
        </div>
      </SpicySheet>
    </SpicyDialog>

    <SpicyDialog v-model="shareLinkDialogVisible" maxWidth="500px">
      <SpicySheet class="shareLinkSheet" color="var(--skBgColor)" padding="20px" isRound>
        <h1>Share Link</h1>
        <p class="shareLinkText allowSelect">
          Link: <a :href="shareLink" target="_blank">{{ shareLink }}</a>
        </p>
        <div class="shareLinkBtns">
          <SpicyBtn bgColor="#4caf50" text="Copy Link" @click="copyLink" />
          <SpicyBtn bgColor="#2196f3" text="Copy Clean Link" @click="discoLink" />
          <SpicyBtn bgColor="#b71c1c" text="Close" @click="shareLinkDialogVisible = false" />
        </div>
      </SpicySheet>
    </SpicyDialog>

    <div class="fileManagementContainer">
      <div class="fileManagementContainerInner">
        <SpicySheet color="rgba(55, 55, 55, 0.6)" class="fileManagementCard">
          <h2>Uploaded Files</h2>
          <SpicyTextField
            class="searchUploadBar"
            v-model="searchTerm"
            label="Search"
            color="var(--primary)"
            variant="outlined"
            :mdi="mdiMagnify"
            clearable
          />
          <VDataTable
            :headers="headers"
            :items="filteredFiles"
            item-key="url"
            class="fileTable"
            :items-per-page="pageSize"
            :page.sync="currentPage"
            :server-items-length="totalFiles"
            :loading="isLoading"
            @update:page="handlePageChange"
            @update:items-per-page="handleItemsPerPageChange"
          >
            <template v-slot:item.actions="{ item }">
              <SpicyBtn
                class="actionBtns"
                bgColor="#4caf50"
                hoverColor="#2e7d32"
                :mdi="mdiDownload"
                @click="handleDownload(item.url, item.name)"
              />
              <SpicyBtn
                class="actionBtns"
                bgColor="#AA00FF"
                hoverColor="#8800C7"
                :mdi="mdiRename"
                @click="handleRename(item.url)"
              />
              <SpicyBtn
                class="actionBtns"
                bgColor="#1dbfff"
                hoverColor="#039be5"
                :mdi="mdiShare"
                @click="handleShare(item.url, item.name)"
              />
              <SpicyBtn
                class="actionBtns"
                bgColor="#b71c1c"
                hoverColor="#8b0000"
                :mdi="mdiDelete"
                @click="handleDelete(item.url)"
              />
            </template>
            <template v-slot:item.name="{ item }">
              <a :href="item.url" target="_blank">{{ item.name }}</a>
            </template>
            <template v-slot:item.size="{ item }">
              {{ item.size }}
            </template>
          </VDataTable>
        </SpicySheet>
      </div>
    </div>
  </div>
</template>

<script setup>
import axios from 'axios'
import { mdiDownload, mdiRename, mdiShare, mdiDelete, mdiClose, mdiMagnify } from '@mdi/js'
import { ref, computed, onMounted } from 'vue'
import ConfirmDialog from '../comps/ConfirmDialog.vue'
import { deleteFile, fetchFileList, fileList, totalFiles, isLoading, routeTo } from '../js/fileManager'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'File Manager',
  description: 'Spicy Cloud - File Manager',
  keywords: 'Spicy Cloud, Account, File Manager, SpicyKatsu, Cloud',
  ogTitle: 'File Manager',
  ogDescription: 'Spicy Cloud - File Manager',
  ogUrl: 'https://spicykatsu.dev/filemanager'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/filemanager'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'File Manager',
        description: 'Spicy Cloud - File Manager',
        url: 'https://spicykatsu.dev/filemanager'
      })
    }
  ]
})

const renameDialogVisible = ref(false)
const newFileName = ref('')
const currentFile = ref(null)
const shareLinkDialogVisible = ref(false)
const shareLink = ref('')
const searchTerm = ref('')
const currentPage = ref(1)
const pageSize = ref(10)
const alertVisible = ref(false)
const alertText = ref('')
const alertType = ref('')
const confirmVisible = ref(false)
const confirmText = ref('')
let confirmResolve

const headers = [
  { text: 'Filename', value: 'name' },
  { text: 'Size', value: 'size' },
  { text: 'Actions', value: 'actions', sortable: false }
]

const filteredFiles = computed(() => {
  if (!fileList.value || !Array.isArray(fileList.value)) {
    return []
  }
  if (!searchTerm.value) {
    return fileList.value
  }
  return fileList.value.filter((file) => file.name.toLowerCase().includes(searchTerm.value.toLowerCase()))
})

// const testFileList = ref([
//   { url: 'https://example.com/file1.txt', name: 'file1.txt', size: '2 KB' },
//   { url: 'https://example.com/file2.jpg', name: 'file2.jpg', size: '1.5 MB' },
//   { url: 'https://example.com/file3.pdf', name: 'file3.pdf', size: '500 KB' }
// ])

// const filteredFiles = computed(() => {
//   return searchTerm.value
//     ? testFileList.value.filter((file) => file.name.toLowerCase().includes(searchTerm.value.toLowerCase()))
//     : testFileList.value
// })

const handleDownload = (url, name) => {
  const link = document.createElement('a')
  link.href = url
  link.download = name
  link.click()
}

const handleRename = (url) => {
  const fileName = url.substring(url.lastIndexOf('/') + 1) // Extract the file name from the URL
  currentFile.value = { url }
  newFileName.value = fileName.split('.')[0]
  renameDialogVisible.value = true
}

const renameFile = async (fileUrl, newName) => {
  try {
    const response = await axios.post('/web/fm/rename', {
      withCredentials: true,
      fileUrl,
      newName
    })

    return response.data
  } catch (error) {
    console.error('Failed to rename file:', error)
    throw new Error('Failed to rename the file')
  }
}

const confirmRename = async () => {
  const newFileNameWithExtension = `${newFileName.value}.${currentFile.value.url.split('.').pop()}`

  try {
    await renameFile(currentFile.value.url, newFileNameWithExtension)
    fetchFileList()
    showAlert('File renamed successfully!', 'success')
  } catch (error) {
    console.error('Failed to rename file:', error)
    showAlert('Failed to rename file.', 'error')
  } finally {
    renameDialogVisible.value = false
  }
}

const handleShare = (url) => {
  shareLink.value = url
  shareLinkDialogVisible.value = true
}

const copyLink = () => {
  navigator.clipboard.writeText(shareLink.value)
  showAlert('Link copied to clipboard', 'success')
}

const discoLink = () => {
  navigator.clipboard.writeText(encodeURI(shareLink.value))
  showAlert('Link copied to clipboard', 'success')
}

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 3000)
}

const showConfirm = (text) => {
  confirmText.value = text
  confirmVisible.value = true
  return new Promise((resolve) => {
    confirmResolve = resolve
  })
}

const handleConfirm = () => {
  confirmResolve(true)
  confirmVisible.value = false
}

const handleDelete = (url) => {
  console.log('Handling delete for URL:', url)
  deleteFile(url, fileList, fetchFileList, showConfirm, showAlert)
}

const handlePageChange = (page) => {
  currentPage.value = page
}

const handleItemsPerPageChange = (itemsPerPage) => {
  pageSize.value = itemsPerPage
}

onMounted(() => {
  if (localStorage.getItem('isLoggedIn') === 'true') {
    fetchFileList()
  } else {
    routeTo('/login')
  }
})
</script>

<style>
.renameSheet,
.shareLinkSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.renameInput,
.shareLinkText {
  margin-bottom: 20px;
  width: 100%;
}

.renameBtns,
.shareLinkBtns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.searchUploadBar {
  margin: 10px 0;
}

.fileTableContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.fileTableContainerInner {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.fileManagementCard {
  border: 1px solid #bbbbbb4d;
  text-align: center;
  border-radius: 6px;
  padding: 20px;
}

.fileTable {
  background: rgba(55, 55, 55, 0.6);
  border: 1px solid #cccccc4d;
  border-radius: 6px;
}

#spacetime .actionBtns {
  margin: 4px;
  padding: 7px;
}

.v-table--has-top td:last-child {
  display: flex;
  justify-content: center;
}
</style>
