<template>
  <SpicyDialog v-model="dialog" v-if="dialog" maxWidth="500px">
    <SpicySheet class="confirmDialogSheet" color="var(--skBgColor)" isRound>
      <h2 class="confirmDialogTitle" aria-label="Confirm">Confirm</h2>
      <a class="confirmDialogText">{{ text }}</a>
      <div class="confirmDialogBtns">
        <SpicyBtn textColor="green" text="Yes" @click="confirm" />
        <SpicyBtn textColor="red" text="No" @click="cancel" />
      </div>
    </SpicySheet>
  </SpicyDialog>
</template>

<script setup>
import { ref, watch } from 'vue'

const props = defineProps({
  text: {
    type: String,
    required: true
  },
  modelValue: {
    type: Boolean,
    default: false
  }
})

const emit = defineEmits(['update:modelValue', 'confirm'])

const dialog = ref(props.modelValue)

watch(
  () => props.modelValue,
  (newValue) => {
    dialog.value = newValue
  }
)

const confirm = () => {
  emit('update:modelValue', false)
  emit('confirm')
}

const cancel = () => {
  emit('update:modelValue', false)
}
</script>

<style>
.confirmDialogTitle {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.confirmDialogBtns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0.5rem;
}

.confirmDialogText {
  flex: 1 1 auto;
  padding: 1rem;
  color: var(--textWhite);
}
</style>
