<template>
  <VNavigationDrawer
    id="navBar"
    v-model="drawer"
    color="#000000ce"
    role="navigation"
    aria-label="Main Navigation"
  >
    <VList aria-label="Main Menu" class="menuList">
      <!-- Home -->
      <VListItem
        class="menuListItem focusable"
        id="homeMenu"
        @click="closeDrawer"
        role="option"
        aria-label="Home"
      >
        <RouterLink to="/" class="homeBtn navLink" aria-label="Home">Home</RouterLink>
      </VListItem>
      <!-- Start Menus -->
      <VExpansionPanels flat variant="popout">
        <!-- Projects menu -->
        <VExpansionPanel id="projectsMenu" role="group" aria-label="Projects">
          <VExpansionPanelTitle role="button" aria-label="Projects">Projects</VExpansionPanelTitle>
          <VExpansionPanelText>
            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Noble Fates"
            >
              <RouterLink to="/noblefates" class="navLink" aria-label="Noble Fates">Noble Fates</RouterLink>
            </VListItem>

            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Chikara"
            >
              <RouterLink to="/chikara" class="navLink" aria-label="Chikara">Chikara</RouterLink>
            </VListItem>
            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Docs"
            >
              <a
                href="https://spicykatsu.dev/spicyapi/docs"
                class="navLink"
                aria-label="Docs"
                target="_blank"
                rel="noopener noreferrer"
              >
                API Docs
              </a>
            </VListItem>
            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Docs"
            >
              <a
                href="https://spicykatsu.dev/spicyapi/docs2"
                class="navLink"
                aria-label="Docs"
                target="_blank"
                rel="noopener noreferrer"
              >
                API Docs 2
              </a>
            </VListItem>
          </VExpansionPanelText>
        </VExpansionPanel>

        <!-- Games menu -->
        <!-- <VExpansionPanel id="gamesMenu" role="group" aria-label="Gaming">
          <VExpansionPanelTitle role="button" aria-label="Gaming">Gaming</VExpansionPanelTitle>
          <VExpansionPanelText>
            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="7 Days to Die"
            >
              <RouterLink to="/7days" class="navLink" aria-label="7 Days to Die">7 Days to Die</RouterLink>
            </VListItem>

            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Ark (ASA)"
            >
              <RouterLink to="/asa" class="navLink" aria-label="Ark (ASA)">Ark (ASA)</RouterLink>
            </VListItem>
          </VExpansionPanelText>
        </VExpansionPanel> -->

        <!-- Playground menu -->
        <VExpansionPanel id="playgroundMenu" role="group" aria-label="Playground">
          <VExpansionPanelTitle role="button" aria-label="Playground">Playground</VExpansionPanelTitle>
          <VExpansionPanelText>
            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Terminal"
            >
              <RouterLink to="/terminal" class="navLink" aria-label="Terminal">Terminal</RouterLink>
            </VListItem>

            <VListItem
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Sandbox"
            >
              <RouterLink to="/sandbox" class="navLink" aria-label="Sandbox">Sandbox</RouterLink>
            </VListItem>
          </VExpansionPanelText>
        </VExpansionPanel>

        <!-- Cloud menu -->
        <VExpansionPanel id="cloudMenu" role="group" aria-label="Cloud">
          <VExpansionPanelTitle role="button" aria-label="Cloud">Cloud</VExpansionPanelTitle>
          <VExpansionPanelText>
            <VListItem
              v-if="!isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Login"
            >
              <RouterLink to="/login" class="navLink" aria-label="Login">Login</RouterLink>
            </VListItem>
            <VListItem
              v-if="!isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="Register"
            >
              <RouterLink to="/register" class="navLink" aria-label="Register">Register</RouterLink>
            </VListItem>
            <VListItem
              v-if="isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="File Upload"
            >
              <RouterLink to="/fileupload" class="navLink" aria-label="File Upload">File Upload</RouterLink>
            </VListItem>
            <VListItem
              v-if="isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="File Manager"
            >
              <RouterLink to="/filemanagement" class="navLink" aria-label="File Manager"
                >File Manager</RouterLink
              >
            </VListItem>
            <VListItem
              v-if="isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer"
              role="option"
              aria-label="My Account"
            >
              <RouterLink to="/account" class="navLink" aria-label="My Account">My Account</RouterLink>
            </VListItem>
            <VListItem
              v-if="isLoggedIn"
              class="menuListItem"
              density="compact"
              @click="closeDrawer() && handleLogout()"
              role="option"
              aria-label="Logout"
            >
              <RouterLink to="/login" class="navLink" aria-label="Logout">Logout</RouterLink>
            </VListItem>
          </VExpansionPanelText>
        </VExpansionPanel>
      </VExpansionPanels>
      <!-- End Menus -->
    </VList>
  </VNavigationDrawer>

  <VAppBar
    class="spicyAppBar"
    color="rgba(0, 0, 0, 0)"
    scroll-behavior="collapse"
    role="banner"
    aria-label="Main App Bar"
    flat
  >
    <template v-slot:prepend>
      <VAppBarNavIcon
        class="navIcon"
        @click.stop="drawer = !drawer"
        aria-label="Open Navigation"
        tabindex="0"
      />
      <!-- <img alt="Chikara" class="chiLogo" :src="logo" /> -->
    </template>
    <h1 class="mainTitle" aria-label="SpicyKatsu" role="heading">SpicyKatsu</h1>

    <template v-slot:append>
      <SpicyTooltip text="Star Control Panel" position="left" aria-label="Open Control Panel">
        <SpicyBtn
          data-no-ripple
          :mdi="mdiCog"
          bgColor="transparent"
          hoverColor="transparent"
          @click="() => (showControlPanel.value = true)"
        />
      </SpicyTooltip>

      <SpicyBtn
        data-no-ripple
        :mdi="mdiConsoleLine"
        bgColor="transparent"
        hoverColor="transparent"
        @click="openTerminalModal"
      />
      <TerminalModal ref="terminalModal" />
    </template>
  </VAppBar>
</template>

<script setup>
import { RouterLink } from 'vue-router'
import logo from '@/assets/logo.webp'
import { ref } from 'vue'
import TerminalModal from './TerminalModal.vue'
import { isLoggedIn } from '../js/fileManager'
import { mdiCog, mdiConsoleLine } from '@mdi/js'
import { logoutBtn } from '../js/fileManager'

const terminalModal = ref(null)
const drawer = ref(false)
const props = defineProps({
  showControlPanel: {
    type: Object,
    required: true
  }
})

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  setTimeout(() => {
    alertVisible.value = false
  }, 3000)
}

const openTerminalModal = () => {
  if (terminalModal.value) {
    terminalModal.value.openModal()
  }
}

const handleLogout = async () => {
  await logoutBtn(showAlert)
}

const closeDrawer = () => {
  drawer.value = false
}
</script>

<style>
@media (max-width: 768px) {
  .navBar {
    display: none;
    transition: all 300ms ease-in-out;
  }
}

#navBar {
  border-color: #1dbfff54;
}

.navIcon svg {
  color: var(--primary);
}

.navIcon:hover svg {
  color: var(--accent);
  cursor: pointer;
}

.v-btn:hover > .v-btn__overlay {
  background-color: transparent;
}

.menuList {
  background: transparent !important;
}

.spicyAppBar .spicyBtn {
  padding: 0 0.5rem;
}

.chiLogo {
  width: 35px;
  height: 35px;
}

.mainTitle {
  color: var(--primary);
  padding-left: 96px;
  font-weight: 600;
}

#homeMenu,
#cloudMenu,
#playgroundMenu,
#gamesMenu,
#projectsMenu {
  background-color: transparent;
  font-weight: bold;
}

#spacetime .v-expansion-panel-title {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: bold;
}

#spacetime .v-list-item--variant-text:hover .v-list-item__overlay,
#spacetime .v-expansion-panel-title:hover > .v-expansion-panel-title__overlay {
  opacity: 0.1;
  cursor: pointer;
  background: var(--primary);
}

#spacetime .v-list-item:hover > .v-list-item__overlay {
  opacity: 0.1;
}

#spacetime .v-list-item__overlay {
  background-color: transparent;
}

.navLink {
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-list-item__content {
  height: 100%;
  width: 100%;
}
</style>
