<template>
  <div class="socialIcons">
    <a
      class="discordWrapper"
      href="https://discord.gg/fjvwb95"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Join the Discord server"
      title="Join the Discord server"
    >
      <img class="discordImg" :src="discordImage" alt="Discord Logo" />
    </a>

    <a
      class="githubWrapper"
      href="https://github.com/satoru8"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit GitHub Profile"
      title="Visit GitHub Profile"
    >
      <img class="githubImg" :src="githubImage" alt="GitHub Logo" />
    </a>

    <a
      class="gitlabWrapper"
      href="https://gitlab.com/satoru8"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Visit GitLab Profile"
      title="Visit GitLab Profile"
    >
      <img class="gitlabImg" :src="gitlabImage" alt="GitLab Logo" />
    </a>
  </div>
</template>

<script setup>
import discordImage from '@/assets/discord.webp'
import gitlabImage from '@/assets/gitlab.webp'
import githubImage from '@/assets/github.webp'
</script>

<style>
.socialIcons {
  width: 50px;
  height: 100%;
}

.githubImg:hover,
.gitlabImg:hover,
.discordImg:hover {
  transform: scale(1.2);
  transition: 300ms;
}

.githubImg,
.gitlabImg,
.discordImg,
.githubWrapper,
.gitlabWrapper,
.discordWrapper {
  width: 50px;
  height: 50px;
  display: block;
  transition: 300ms;
}

.discordWrapper,
.githubWrapper {
  margin-bottom: 5px;
}
</style>
