<template>
  <SpicyDialog v-model="showControlPanel.value" maxWidth="500px">
    <SpicySheet color="var(--skBgColor)" isRound class="starControlSheet">
      <h2 class="starControlTitle">Star Control</h2>

      <div class="controlOption">
        <label class="starCountLabel">Star Count:</label>
        <input
          class="starControlInput starCount"
          type="number"
          id="starCount"
          v-model="starCount"
          min="0"
          max="500"
        />

        <label class="starSizeLabel">Star Size:</label>
        <input
          class="starControlInput starSize"
          type="number"
          id="starSize"
          v-model="starSize"
          min="0"
          max="10"
        />
      </div>
      <div v-for="(type, index) in starTypes" :key="index" class="controlOption">
        <label :for="type.type">Class: {{ type.type }} - Frequency: </label>
        <input
          class="starControlInput starFrequency"
          type="number"
          :id="type.type"
          v-model="type.frequency"
          min="0"
          max="100"
        />
        <label :for="type.color">Color: </label>
        <input class="starControlInput starColor" type="color" :id="type.color" v-model="type.color" />
      </div>

      <div class="starControlBtns">
        <SpicyBtn @click="applyChanges" textColor="#4caf50" text="Apply" />
        <SpicyBtn @click="resetPanel" textColor="#1dbfff" text="Reset" />
        <SpicyBtn @click="() => (showControlPanel.value = false)" textColor="#b71c1c" text="Close" />
      </div>
    </SpicySheet>
  </SpicyDialog>
</template>

<script setup>
import { ref, onMounted } from 'vue'

const props = defineProps({
  initialStarTypes: {
    type: Array,
    required: true
  },
  showControlPanel: {
    type: Object,
    required: true
  }
})

const emits = defineEmits(['update-star-frequencies'])

const starCount = ref(localStorage.getItem('starCount') ? parseInt(localStorage.getItem('starCount')) : 100)
const starSize = ref(localStorage.getItem('starSize') ? parseInt(localStorage.getItem('starSize')) : 2)

const starTypes = ref([])

onMounted(() => {
  starTypes.value = props.initialStarTypes
})

const applyChanges = () => {
  emits(
    'update-star-frequencies',
    starTypes.value.map((type) => ({ ...type })),
    starCount.value,
    starSize.value
  )
}

const starReset = ref([
  { type: 'M', color: '#ff5757', frequency: 60 },
  { type: 'K', color: '#ffac57', frequency: 20 },
  { type: 'G', color: '#ffef61', frequency: 10 },
  { type: 'F', color: '#fff6a5', frequency: 8 },
  { type: 'A', color: '#e7efff', frequency: 6 },
  { type: 'B', color: '#a5e7ff', frequency: 5 },
  { type: 'O', color: '#3e41ff', frequency: 4 }
])

const resetPanel = () => {
  starTypes.value = starReset.value.map((type) => ({ ...type }))
  starCount.value = 100
  starSize.value = 2
  applyChanges()
}
</script>

<style>
.starControlSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.starControlTitle {
  text-align: center;
  padding: 2rem;
  color: rgb(var(--primary));
}

.starControlInput {
  text-align: center;
}

.starCount {
  width: 60px;
}

.starCountLabel,
.starSizeLabel {
  color: #1dbfff;
}

.starSize {
  width: 40px;
}

.frequency {
  width: 50px;
}

.controlOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.starControlBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 1.5rem;
}
</style>
