<template>
  <SpicyDialog v-model="isVisible" maxWidth="700px">
    <SpicySheet color="transparent">
      <h2 class="spicyTerminalTitle">Spicy Terminal</h2>
      <div class="spicyTerminal" ref="scrollRef">
        <div class="output" ref="outputRef">
          <p v-for="(msg, index) in messages" :key="index" class="message">{{ msg }}</p>
          <div class="input upper">
            <SpicyTextField
              prefix="> "
              active
              v-if="!inputToggle"
              class="inputText"
              variant="text"
              v-model.trim="inputText"
              @keydown.enter="handleInput"
              aria-label="Input"
              autofocus
            />
          </div>
        </div>
      </div>
      <div class="inputContainer">
        <div class="input modalInput">
          <SpicyTextField
            v-if="inputToggle"
            class="inputText"
            variant="filled"
            v-model.trim="inputText"
            @keydown.enter="handleInput"
            aria-label="Input"
            autofocus
          />
        </div>
        <div class="buttons modalButtons">
          <SpicyBtn
            @click="displayHelp('h')"
            textColor="var(--primary)"
            fontSize="24px"
            bgColor="transparent"
            hoverColor="transparent"
            class="helpBtn"
            text="Help"
          />
          <SpicyBtn
            @click="clearOutput"
            textColor="var(--error)"
            fontSize="24px"
            bgColor="transparent"
            hoverColor="transparent"
            class="clearBtn"
            text="Clear"
          />
          <SpicyBtn
            @click="inputToggleFunc"
            textColor="var(--secondary)"
            fontSize="24px"
            bgColor="transparent"
            hoverColor="transparent"
            class="toggleBtn"
            text="Toggle Input"
          />
        </div>
      </div>
    </SpicySheet>
  </SpicyDialog>
</template>

<script setup>
import { ref } from 'vue'
import { spicyTerminal } from '../js/spicyTerminal'

const isVisible = ref(false)

const openModal = () => {
  isVisible.value = true
}

const closeModal = () => {
  isVisible.value = false
}

const inputToggle = ref(null)

const inputToggleFunc = () => {
  inputToggle.value = !inputToggle.value
}

const { inputText, messages, outputRef, scrollRef, clearOutput, displayHelp, handleInput } = spicyTerminal()

defineExpose({
  openModal,
  closeModal
})
</script>

<style scoped>
.spicyTerminal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.925);
}

.spicyTerminalTitle {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}

.inputContainer {
  flex-direction: column;
}

.modalInput,
.modalButtons,
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modalInput {
  width: 95%;
}
</style>
