<template>
  <div class="mainPageContainer chikaraContainer">
    <div class="chikaraTitleContainer">
      <h1 class="chikaraTitle textAccent">Chikara</h1>
    </div>

    <div class="chikaraDescriptionContainer">
      <p class="chikaraText">Chikara is my Better Discord plugin.</p>
      <p class="chikaraText">
        It comes with my <em class="green">Full Transparency</em> theme as a toggleable option.
      </p>

      <p class="chikaraText">
        Click on the info button below to learn more about the plugin and its features.
      </p>
    </div>

    <SpicyCarousel :slides="images" class="imageContainer" enableImageClick />
    <div class="btnContainer">
      <SpicyBtn
        textColor="var(--secondary)"
        bgColor="transparent"
        hoverColor="transparent"
        class="infoBtn"
        fontSize="24px"
        @click="openInfo"
        text="Info"
      />
      <SpicyBtn
        textColor="var(--success)"
        bgColor="transparent"
        hoverColor="transparent"
        class="downloadBtn"
        fontSize="24px"
        @click="downloadPlugin"
        text="Download Plugin"
        :disabled="isDisabled"
      />
    </div>
  </div>

  <SpicyDialog v-model="showInfo" maxWidth="800px">
    <SpicySheet class="chikaraInfoSheet" color="var(--skBgColor)" isRound>
      <div class="infoTitleContainer">
        <h1 class="infoTitle">Chikara Plugin Info</h1>
      </div>

      <div class="infoTextContainer">
        <p class="infoText">
          <span class="orange">Chikara</span> is my Better Discord plugin. It comes with my
          <em class="green">Full Transparency</em> theme as a toggleable option.
        </p>

        <h3 class="infoHeader">Main Features</h3>
        <p class="infoText">
          The main feature of the plugin is the ease with which you can set your wallpaper. It's designed to
          be compatible with most themes. However, themes not built with wallpapers in mind or those that
          approach them differently might not work as expected. Chikara makes an effort to address these
          issues, but compatibility can't be guaranteed for all themes.
        </p>

        <p class="infoText">
          Wallpaper preferences, including recent selections and favorites, are saved locally. You can rename
          links for ease of access. Additionally, theres multiple sliders to adjust theme/wallpaper
          transparency and brightness.
        </p>

        <h3 class="infoHeader">Settings</h3>
        <p class="infoText">
          The plugin has a number of settings that can be used to change the look and feel of the Full
          Transparency theme.
        </p>

        <h3 class="infoHeader">Addons</h3>
        <p class="infoText">
          There's an Addon section featuring some of my "mini-themes". These can be used with most other
          themes or on their own.
        </p>

        <h3 class="infoHeader">Opacity and Transparency Settings</h3>
        <p class="infoText">
          For users of the Full Transparency theme, an optional setting allows for the use of opacity with
          wallpapers, enabling a transparent effect that complements the theme.
        </p>
      </div>
    </SpicySheet>
  </SpicyDialog>

  <SpicyDialog v-model="showError" maxWidth="400px">
    <div class="errorContainer">
      <SpicyAlert
        color="var(--accent)"
        variant="outlined"
        class="chikaraAlert"
        title="Issue downloading Chikara plugin"
        text="Please contact the developer"
        :mdi="mdiAlert"
      />
    </div>
  </SpicyDialog>
</template>

<script setup>
import { ref } from 'vue'
import axios from 'axios'
import { mdiAlert } from '@mdi/js'
import chikaraImage1 from '../assets/chi1.webp'
import chikaraImage2 from '../assets/chi2.webp'
import chikaraImage3 from '../assets/chi3.webp'
import chikaraImage4 from '../assets/chi4.webp'
import chikaraImage5 from '../assets/chi5.webp'
import chikaraImage6 from '../assets/chi6.webp'
import chikaraImage7 from '../assets/chi7.webp'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Chikara',
  description: 'Chikara plugin for Better Discord. Full Transparency Theme.',
  keywords:
    'transparent, full transparency, transparency, better discord, bd, bbd, bd plugin, bd theme, discord theme',
  ogTitle: 'Chikara',
  ogDescription: 'Chikara plugin for Better Discord. Full Transparency Theme.',
  ogUrl: 'https://spicykatsu.dev/chikara'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/chikara'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Chikara',
        description: 'Chikara plugin for Better Discord. Full Transparency Theme.',
        url: 'https://spicykatsu.dev/chikara'
      })
    }
  ]
})

const showInfo = ref(false)
const showError = ref(false)
const isDisabled = ref(false)
const downloadLink = 'https://chikarathemes.gitlab.io/Sukiyaki/Plugins/Chikara/2Chikara.plugin.js'

const images = [
  { img: chikaraImage1 },
  { img: chikaraImage2 },
  { img: chikaraImage3 },
  { img: chikaraImage4 },
  { img: chikaraImage5 },
  { img: chikaraImage6 },
  { img: chikaraImage7 }
]

const downloadPlugin = async () => {
  isDisabled.value = true

  try {
    await axios.post('https:spicykatsu.dev/spicyapi/web/chikara', {
      withCredentials: true
    })
    const response = await axios.get(downloadLink, { responseType: 'blob' })
    const blob = new Blob([response.data], { type: 'text/javascript' })
    const link = document.createElement('a')
    link.href = URL.createObjectURL(blob)
    link.download = '2Chikara.plugin.js'
    link.click()
    URL.revokeObjectURL(link.href)
  } catch (error) {
    showError.value = true
    console.error('Error occurred:', error)
  } finally {
    isDisabled.value = false
  }
}

const openInfo = () => {
  showInfo.value = true
}
</script>

<style>
.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chikaraDescriptionContainer {
  text-align: center;
  margin: 10px 0 10px 0;
}

.chikaraText {
  font-size: 1rem;
}

.errorContainer {
  background: var(--surfaceColor);
}

.chikaraInfoSheet {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.infoHeader {
  color: var(--accent);
}

.infoTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.infoTitle {
  width: 100%;
  color: var(--accent);
}

.infoTextContainer {
  padding: 40px;
}

.infoText {
  margin: 8px 0 8px 0;
}
</style>
