<template>
  <div class="mainPageContainer hideout">
    <SpicyTabs v-if="isSato" class="hideoutTabs" :tabs="tabs">
      <template v-slot:tab1>
        <SpicySheet class="hideoutSheet" isRound>
          <h1>Chikara Download Count: {{ chikaraDownloadCount }}</h1>
        </SpicySheet>
      </template>

      <template v-slot:tab2>
        <SpicySheet class="hideoutSheet" isRound>
          <h1>Invite Codes</h1>
          <ul>
            <li v-for="code in inviteCodes" :key="code.id">
              {{ code.code }} - Used: {{ code.used ? 'Yes' : 'No' }}
            </li>
          </ul>
        </SpicySheet>
      </template>

      <template v-slot:tab3>
        <SpicySheet class="hideoutSheet" isRound>
          <h1>Users</h1>
          <ul>
            <li v-for="user in users" :key="user.id">
              {{ user.username }}
              <button @click="deleteUser(user.id)">Delete</button>
            </li>
          </ul>
        </SpicySheet>
      </template>
    </SpicyTabs>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import axios from 'axios'

const isSato = ref(false)
const tabs = ref([
  { name: 'tab1', label: 'Download Count' },
  { name: 'tab2', label: 'Invite Codes' },
  { name: 'tab3', label: 'Users' }
])
const chikaraDownloadCount = ref(0)
const inviteCodes = ref([])
const users = ref([])

const fetchDownloadCount = async () => {
  try {
    const response = await axios.get('/web/hideout', {
      params: { action: 'downloadCount' },
      withCredentials: true
    })
    if (response.data.success) {
      if (response.data.isSato) {
        isSato.value = true
      }
      chikaraDownloadCount.value = response.data.count
    } else {
      isSato.value = false
    }
  } catch (error) {
    console.error('Error fetching download count:', error)
  }
}

const fetchInviteCodes = async () => {
  try {
    const response = await axios.get('/web/hideout', {
      params: { action: 'inviteCodes' },
      withCredentials: true
    })
    if (response.data.success) {
      inviteCodes.value = response.data.codes
    } else {
      inviteCodes.value = []
    }
  } catch (error) {
    console.error('Error fetching invite codes:', error)
  }
}

const fetchUsers = async () => {
  try {
    const response = await axios.get('/web/hideout', {
      params: { action: 'users' },
      withCredentials: true
    })
    if (response.data.success) {
      users.value = response.data.users
    } else {
      users.value = []
    }
  } catch (error) {
    console.error('Error fetching users:', error)
  }
}

const deleteUser = async (userId) => {
  try {
    const response = await axios.delete(`/web/hideout`, {
      params: { action: 'deleteUser', userId },
      withCredentials: true
    })
    if (response.data.success) {
      fetchUsers()
    } else {
      console.error('Failed to delete user:', response.data.message)
    }
  } catch (error) {
    console.error('Error deleting user:', error)
  }
}

onMounted(() => {
  fetchDownloadCount()
  fetchInviteCodes()
  fetchUsers()
})
</script>

<style>
.hideoutTabs {
  max-width: 800px;
}
</style>
