<template>
  <div class="mainPageContainer homeContainer">
    <transition name="fade">
      <h1 class="welcome" v-show="showWelcome" @click="hideWelcome" aria-label="Welcome!">Welcome!</h1>
    </transition>
    <div class="quoteContainer" role="contentinfo">
      <span class="quoteText" id="quoteText">{{ currentQuote.quote }} - </span>
      <span class="quoteAuthor">{{ currentQuote.author }}</span>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Home',
  description: 'Home, A happy place for my projects to live.',
  keywords:
    'Spicy Katsu, Spicykatsu, terminal, mods, noblefates, transparent, full transparency, bd, bd plugin, bd theme, discord theme',
  ogTitle: 'Home',
  ogDescription: 'Home, A happy place for my projects to live.',
  ogUrl: 'https://spicykatsu.dev/'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Home',
        description: 'Home, A happy place for my projects to live.',
        url: 'https://spicykatsu.dev/'
      })
    }
  ]
})

const showWelcome = ref(true)
const quotes = ref([])
const currentQuote = ref({ quote: '', author: '' })

const CACHE_DURATION = 12 * 60 * 60 * 1000
let quotesCache = null
let lastFetchTime = 0

const fetchQuotes = async () => {
  try {
    const now = Date.now()

    if (quotesCache && now - lastFetchTime < CACHE_DURATION) {
      quotes.value = quotesCache
      currentQuote.value = quotesCache[0]
      return
    }

    const response = await fetch('/assets/quotes.json')
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`)
    }
    const data = await response.json()

    if (!Array.isArray(data)) {
      throw new Error('Invalid quotes data format')
    }

    quotesCache = data
      .map(({ q: quote, a: author }) => {
        if (!quote || !author) {
          console.warn('Found invalid quote entry:', { quote, author })
          return null
        }
        return { quote, author }
      })
      .filter(Boolean)

    if (quotesCache.length) {
      quotes.value = quotesCache
      currentQuote.value = quotesCache[0]
      lastFetchTime = now
    } else {
      throw new Error('No valid quotes found in data')
    }
  } catch (error) {
    console.error('Failed to load quotes:', error)
    if (!quotes.value?.length) {
      quotes.value = []
      currentQuote.value = null
    }
  }
}

const changeQuote = () => {
  if (quotes.value.length === 0) return

  let newQuote
  do {
    newQuote = quotes.value[Math.floor(Math.random() * quotes.value.length)]
  } while (newQuote.quote === currentQuote.value.quote && newQuote.author === currentQuote.value.author)

  currentQuote.value = newQuote
}

const hideWelcome = () => {
  showWelcome.value = false
}

onMounted(() => {
  fetchQuotes()
  const interval = setInterval(changeQuote, 7500)
  onUnmounted(() => clearInterval(interval))
})
</script>

<style>
.homeContainer {
  padding: 1rem;
}

.welcome {
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
}

.quoteContainer {
  max-width: 800px;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bgColorDark);
  box-shadow: 0 0 8px 1px rgba(159, 1, 177, 0.7);
}

.quoteAuthor {
  color: var(--author);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
