<template>
  <div class="mainPageContainer nfContainer">
    <h1 class="nfTitle">Noble Fates Mods</h1>

    <p class="nfText">
      Below is a collection of my mods for the
      <a href="https://steamcommunity.com/app/1769420" target="_blank" rel="noopener noreferrer"
        >Noble Fates</a
      >
      game
    </p>

    <p class="nfText">
      Steam Workshop page available at:
      <a
        href="https://steamcommunity.com/id/Satoru8/myworkshopfiles/?appid=1769420"
        target="_blank"
        rel="noopener noreferrer"
        >NF Mods</a
      >
    </p>

    <p class="nfText">
      Source code available on
      <a href="https://gitlab.com/satoru8/noble-fates-mods" target="_blank" rel="noopener noreferrer"
        >GitLab</a
      >
    </p>

    <p class="nfText">I created a Modding Guide for the game. Click the button below to check it out.</p>

    <SpicyBtn
      class="nfBtn"
      textColor="var(--secondary)"
      fontSize="24px"
      bgColor="transparent"
      hoverColor="transparent"
      @click="src"
      text="NF Docs Website"
    />
  </div>
</template>

<script setup>
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Noble Fates',
  description: 'My mods & docs for the Noble Fates game.',
  keywords: 'Noble Fates, Noble, Fates, Steam, Unity, Game, Modding, Guide, Docs',
  ogTitle: 'Noble Fates',
  ogDescription: 'My mods & docs for the Noble Fates game.',
  ogUrl: 'https://spicykatsu.dev/noblefates'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/noblefates'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Noble Fates',
        description: 'My mods & docs for the Noble Fates game.',
        url: 'https://spicykatsu.dev/noblefates'
      })
    }
  ]
})

const src = () => {
  const path = 'https://satoru8.gitlab.io/noble-fates-mods/'
  const anchor = document.createElement('a')
  anchor.href = path
  anchor.target = '_blank'
  anchor.rel = 'noopener noreferrer'
  document.body.appendChild(anchor)
  anchor.click()
  document.body.removeChild(anchor)
}
</script>

<style>
.nfTitle {
  color: var(--primary);
  margin-bottom: 1rem;
}

.nfText {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.nfContainer {
  padding: 1rem;
}
</style>
