<template>
  <div class="mainPageContainer lostContainer" role="main">
    <h1 class="lostTitle textPrimary">Adrift in the Cosmos</h1>
    <p class="lostText textAccent">It appears you've ventured into an uncharted expanse of the universe.</p>
  </div>
</template>

<script setup>
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Lost in Space - 404 Page Not Found',
  description: 'The page you are looking for cannot be found.',
  keywords: '404, lost, page, not, found',
  ogTitle: 'Lost in Space - 404 Page Not Found',
  ogDescription: 'The page you are looking for cannot be found.'
})

useHead({
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Lost in Space - 404 Page Not Found',
        description: 'The page you are looking for cannot be found.'
      })
    }
  ]
})
</script>
