<template>
  <div class="mainPageContainer sandboxContainer">
    <SpicyAlert
      v-if="alertVisible"
      :text="alertText"
      :variant="alertType"
      :autoClose="autoCloseTimer"
      :closeIcon="mdiClose"
      closable
      isRound
    />
    <SpicyTabs class="sandboxTabs" :tabs="tabs" color="red">
      <template v-slot:tab1>
        <div class="sorterContainer">
          <h2 class="sorterTitle">Sorter</h2>
          <SpicyTextArea
            class="sorterInput"
            color="#00000080"
            v-model="textInput"
            placeholder="Enter text separated by new lines"
          />
          <SpicyBtn @click="sortText" text="Sort" />
        </div>
      </template>
      <template v-slot:tab2>
        <div class="nobleFatesContainer">
          <p class="nobleFatesText">
            Here you can export game ready fbx from your blend files. Add the blend file you wish to use and
            then specify the collection name you want to export.
          </p>
          <p v-if="nfLink" class="nobleFatesLink">
            Download Link: <a class="allowSelect" :href="nfLink">{{ nfLink }}</a>
          </p>
          <SpicyFileInput
            label="Drag & drop your blend file here"
            clearable
            :mdi="mdiClose"
            accept=".blend"
          />
          <SpicyTextField
            class="nobleFatesInput"
            label="Enter your collection name"
            v-model="collectionName"
          />
          <SpicyBtn text="Create FBX" @click="createFBX" />
        </div>
      </template>
      <template v-slot:tab3>
        <SpicySheet class="urlSheet" padding="20px" flex>
          <p v-if="shortenedURL" class="urlText">
            URL: <a class="allowSelect" :href="shortenedURL">{{ shortenedURL }} </a>
          </p>
          <p v-if="isGenerating" class="urlText">Generating URL...</p>
          <SpicyTextField class="urlInput" label="Enter your URL" v-model="urlInput" />
          <div class="urlBtnContainer">
            <SpicyBtn class="urlBtn" text="Generate URL" @click="generateURL" :disabled="isGenerating" />
            <SpicyBtn v-if="shortenedURL" class="urlBtn" text="Copy URL" @click="copyURL" />
          </div>
          <div class="container" v-if="spicyApiData.length">
            <table class="datTable">
              <thead>
                <tr>
                  <th class="shortHeader" v-for="header in tableHeaders" :key="header">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody class="scrollable-tbody">
                <tr
                  v-for="(item, index) in spicyApiData"
                  :key="index"
                  :class="{ 'zebra-stripe': index % 2 !== 0 }"
                >
                  <td class="dataLink allowSelect" v-for="header in tableHeaders" :key="header">
                    <a v-if="isUrl(item[header])" :href="item[header]" target="_blank" class="data-link">
                      {{ item[header] }}
                    </a>
                    <span v-else>{{ item[header] || 'N/A' }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </SpicySheet>
      </template>
    </SpicyTabs>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { mdiClose } from '@mdi/js'
import axios from 'axios'

const alertText = ref('')
const alertType = ref('')
const alertVisible = ref(false)
const autoCloseTimer = 5000

const collectionName = ref('')
const nfLink = ref('')
const urlInput = ref('')
const shortenedURL = ref('')
const isGenerating = ref(false)

const showAlert = (text, type) => {
  alertText.value = text
  alertType.value = type
  alertVisible.value = true
  // setTimeout(() => {
  //   alertVisible.value = false
  // }, 3000)
}

const copyURL = () => {
  if (!shortenedURL.value) {
    console.error('URL is required')
    return
  }

  showAlert('URL copied to clipboard', 'success')

  navigator.clipboard.writeText(shortenedURL.value)
}

const generateURL = () => {
  if (!urlInput.value) {
    showAlert('URL is required', 'error')
    console.error('URL is required')
    return
  }

  shortenedURL.value = ''
  isGenerating.value = true

  const formData = new FormData()
  formData.append('url', urlInput.value)

  axios
    .post('/spicyapi/short', formData, {
      withCredentials: true
    })
    .then((response) => {
      shortenedURL.value = response.data.url
      isGenerating.value = false
    })
    .catch((error) => {
      isGenerating.value = false
      showAlert('Error generating URL', 'error')
      console.error('Error generating URL:', error)
    })
}

const createFBX = async () => {
  if (!blendFile.value || !collectionName.value) {
    console.error('Blend file and collection name are required')
    return
  }

  const formData = new FormData()
  formData.append('blendFile', blendFile.value)
  formData.append('collectionName', collectionName.value)

  try {
    const response = await axios.post('/blend/export', formData, {
      headers: {
        'Content-Type': 'multipart/form-data'
      }
    })

    nfLink.value = response.data.downloadLink
  } catch (error) {
    console.error('Error exporting FBX:', error)
  }
}

const tabs = [
  {
    name: 'tab1',
    label: 'Sorter'
  },
  {
    name: 'tab2',
    label: 'Noble Fates FBX'
  },
  {
    name: 'tab3',
    label: 'URL Shortener'
  }
]

const textInput = ref('')

const sortText = () => {
  const lines = textInput.value.split('\n').filter(Boolean)
  textInput.value = lines.sort().join('\n')
}

const spicyApiData = ref([])
const tableHeaders = ref([])

const fetchData = async () => {
  try {
    const response = await fetch('https://spicykatsu.dev/spicyapi/short/info/all')
    if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`)
    return await response.json()
  } catch (error) {
    console.log(`Fetch items failed: ${error.message}`)
    return []
  }
}

const isUrl = (value) => /^https?:\/\//.test(value)
onMounted(async () => {
  spicyApiData.value = await fetchData()
  if (spicyApiData.value.length) {
    tableHeaders.value = Object.keys(spicyApiData.value[0])
  }
})
</script>

<style>
#spacetime .spicyTabsHeader {
  background-color: #42434480;
}

#spacetime .spicyTabs {
  background-color: #28292aa2;
}

.sandboxTabs {
  width: 100%;
  max-width: 800px;
}

.sorterContainer,
.nobleFatesContainer {
  width: 100%;
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.sorterTitle {
  margin-bottom: 10px;
  font-size: 24px;
  color: #ddd;
}

.sorterInput {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.nobleFatesText,
.nobleFatesLink {
  margin-bottom: 20px;
  font-size: 18px;
}

.nobleFatesInput {
  margin: 20px 0 20px 0;
}

.urlSheet {
  width: 100%;
  align-items: center;
}

.urlText {
  font-size: 18px;
}

.urlInput {
  margin: 20px 0 20px 0;
}

.urlBtn {
  width: 200px;
  margin-bottom: 4px;
}

/* */
.table-container {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #2d2d2d;
}

.datTable {
  border-collapse: collapse;
  width: 100%;
  background-color: #2d2d2d;
  border: 1px solid #404040;
}

thead tr {
  background-color: #3d3d3d;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.shortHeader,
.data-link {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #404040;
}

.scrollable-tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.datTable thead,
.datTable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tr.zebra-stripe {
  background-color: #333333;
}

tr:hover {
  background-color: #404040;
}

.dataLink {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}

.data-link {
  color: #8ab4f8;
  text-decoration: none;
  transition: color 300ms;
}

.data-link:hover {
  color: #adc8f8;
}
</style>
