<template>
  <div class="stars">
    <div
      v-for="star in stars"
      :key="star.id"
      :data-id="star.id"
      :class="star.class"
      :style="{
        id: star.id,
        top: star.top,
        left: star.left,
        backgroundColor: star.color,
        width: `${starSize}px`,
        height: `${starSize}px`,
        animationDuration: star.animationDuration,
        animationDelay: star.animationDelay
      }"
    ></div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'

const stars = ref([])
const props = defineProps({ starTypes: Array, starCount: Number, starSize: Number })
const maxStarCount = 500
const maxStarSize = 10

const randomStarType = (starTypes) => {
  const totalFrequency = starTypes.reduce((acc, type) => acc + type.frequency, 0)
  let random = Math.random() * totalFrequency
  for (let type of starTypes) {
    if (random < type.frequency) {
      return { color: type.color, type: type.type }
    }
    random -= type.frequency
  }
  return { color: starTypes[0].color, type: starTypes[0].type }
}

const regenerateStars = (starTypes, starCount, starSize) => {
  if (starCount > maxStarCount || starSize > maxStarSize) {
    starCount = maxStarCount
    starSize = maxStarSize
  }

  stars.value = []
  const typeCounts = {}

  for (let i = 1; i < starCount + 1; i++) {
    const { color, type } = randomStarType(starTypes)
    const className = `star star-${type}`
    const star = {
      id: i,
      class: className,
      color: color,
      type: type,
      top: `${Math.random() * 100}%`,
      left: `${Math.random() * 100}%`,
      width: `${Math.random() * 1.25 + starSize}px`,
      height: `${Math.random() * 1.25 + starSize}px`,
      animationDuration: `${2 + Math.random() * 10}s`,
      animationDelay: `${-Math.random() * 5}s`
    }
    stars.value.push(star)

    if (typeCounts[type]) {
      typeCounts[type] += 1
    } else {
      typeCounts[type] = 1
    }
  }

  // Fancy Logging
  const typeCountsTable = Object.keys(typeCounts).map((type) => ({
    'Star Type': type,
    Frequency: typeCounts[type],
    Color: starTypes.find((t) => t.type === type).color
  }))

  typeCountsTable.push({
    'Star Type': 'Total Stars',
    Frequency: stars.value.length
  })

  console.table(typeCountsTable)
}

watch(
  [() => props.starTypes, () => props.starCount, () => props.starSize],
  ([newStarTypes, newStarCount, newStarSize]) => {
    regenerateStars(newStarTypes, newStarCount, newStarSize)
  },
  { immediate: true }
)
</script>
