<template>
  <div class="mainPageContainer playground">
    <div class="spicyTerminal" ref="scrollRef">
      <div class="output" ref="outputRef">
        <p v-for="(msg, index) in messages" :key="index" class="message allowSelect">{{ msg }}</p>
        <div class="input upper">
          <SpicyTextField
            prefix="> "
            active
            v-if="!inputToggle"
            class="inputText"
            base-color="rgba(255, 0, 221, 0.6)"
            color="rgba(255, 0, 221, 0.3)"
            variant="text"
            v-model.trim="inputText"
            @keydown.enter="handleInput"
            aria-label="Input"
            autofocus
          />
        </div>
      </div>
    </div>
    <div class="inputContainer">
      <div class="input">
        <SpicyTextField
          v-if="inputToggle"
          class="inputText"
          base-color="rgba(255, 0, 221, 0.6)"
          color="rgba(255, 0, 221, 0.3)"
          variant="underlined"
          v-model.trim="inputText"
          @keydown.enter="handleInput"
          aria-label="Input"
          autofocus
        />
      </div>
      <div class="terminalButtons">
        <SpicyBtn
          @click="displayHelp('hgui')"
          textColor="var(--primary)"
          fontSize="24px"
          bgColor="transparent"
          hoverColor="transparent"
          class="helpBtn"
          text="Help"
        />
        <SpicyBtn
          @click="clearOutput"
          textColor="var(--error)"
          fontSize="24px"
          bgColor="transparent"
          hoverColor="transparent"
          class="clearBtn"
          text="Clear"
        />
        <SpicyBtn
          @click="inputToggleFunc"
          textColor="var(--secondary)"
          fontSize="24px"
          bgColor="transparent"
          hoverColor="transparent"
          class="toggleBtn"
          text="Toggle Input"
        />
      </div>
    </div>
  </div>
  <SpicyDialog v-model="dialog" maxWidth="600px">
    <SpicySheet color="var(--skBgColor)" class="terminalHelpSheet" isRound>
      <h2 class="terminalHelpTitle" aria-label="Terminal Help">Terminal Help</h2>
      <div class="helpText">
        <p>Use "help" or "h" to display this message.</p>
        <p>Use "help gui" or "h gui" to display the help modal."</p>
        <p>hero [name] - To get a random hero name.</p>
        <p>log [message] - Logs a message to the console</p>
        <p>planetHack - Hack a planet!</p>
        <p>calc [number] [operator] [number] - Performs basic arithmetic</p>
        <p>Use "time", "t" or "gettime" to get the current time.</p>
        <p>Use "date", "d" or "getdate" to get the current date.</p>
        <p>Use td or timeanddate - Gets the current time and date</p>
        <p>cls, clr, clear - Clears the output</p>
      </div>
      <div class="terminalHelpButtons">
        <SpicyBtn color="var(--secondary)" @click="dialog = false" text="Close" />
      </div>
    </SpicySheet>
  </SpicyDialog>
</template>

<script setup>
import { ref } from 'vue'
import { spicyTerminal } from '../js/spicyTerminal'
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: 'Spicy Terminal',
  description: 'A spicy terminal for controlling the website.',
  keywords: 'Spicy Terminal, Terminal, Term',
  ogTitle: 'Spicy Terminal',
  ogDescription: 'A spicy terminal for controlling the website.',
  ogUrl: 'https://spicykatsu.dev/terminal'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/terminal'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: 'Spicy Terminal',
        description: 'A spicy terminal for controlling the website.',
        url: 'https://spicykatsu.dev/terminal'
      })
    }
  ]
})

const inputToggle = ref(null)

const inputToggleFunc = () => {
  inputToggle.value = !inputToggle.value
}

const { inputText, messages, outputRef, scrollRef, dialog, name, clearOutput, displayHelp, handleInput } =
  spicyTerminal()
</script>

<style>
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spicyTerminal {
  width: 100%;
  height: 300px;
  min-width: 350px;
  max-width: 50vw;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px 1px rgba(255, 0, 221, 0.5);
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.terminalButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.output {
  font-family: monospace;
}

.input {
  width: 50%;
  margin: 10px 0 10px 0;
}

.input.upper {
  width: 100%;
}

#spacetime .v-text-field__prefix {
  padding: 0;
  align-items: end;
}

.terminalHelpSheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.terminalHelpTitle {
  font-size: 1.5rem;
  padding: 10px 0 10px 0;
  width: 100%;
}

.helpText p {
  line-height: 2;
}

.terminalHelpButtons {
  padding: 10px 0 10px 0;
}

.message {
  padding: 2px 0 2px 0;
}
</style>
