<template>
  <div class="mainPageContainer serverContainer">
    <h1 class="">7 Days to Die</h1>
    <h2 class="allowSelect">Server Name: DerpSalad</h2>
    <p>Higher rates, higher difficulty.</p>
    <h2 class="">
      <a href="http://98.223.216.160:8075/" target="_blank" rel="noopener noreferrer">Server Web Dashboard</a>
    </h2>
    <SpicyBtn bgColor="#1dbfff35" hoverColor="#1dbfff75" icon="🗺️" text="Map Preview" @click="mapClick" />
  </div>
</template>

<script setup>
import { useHead, useSeoMeta } from '@unhead/vue'

useSeoMeta({
  title: '7 Days to Die',
  description: '7 Days to Die server info.',
  keywords: '7 Days, 7 Days to Die, Server, DerpSalad, Steam, Game',
  ogTitle: '7 Days to Die',
  ogDescription: '7 Days to Die server info.',
  ogUrl: 'https://spicykatsu.dev/7days'
})

useHead({
  link: [
    {
      rel: 'canonical',
      href: 'https://spicykatsu.dev/7days'
    }
  ],
  script: [
    {
      type: 'application/ld+json',
      children: JSON.stringify({
        '@context': 'https://schema.org',
        '@type': 'WebPage',
        name: '7 Days to Die',
        description: '7 Days to Die server info.',
        url: 'https://spicykatsu.dev/7days'
      })
    }
  ]
})

const mapClick = () => {
  window.location.href = '/dl/preview.webp'
}
</script>
