:root {
  --textWhite: #ddd;
  --author: #2490c2;
  --borderColor: rgba(60, 60, 60, 0.5);
  --backgroundColor: #060606;
  --bgColorDark: rgba(0, 0, 0, 0.5);
  --surfaceColor: rgba(33, 33, 33, 1);

  --primary: #aa00ff;
  --secondary: #1dbfff;
  --accent: #40c4ff;
  --error: #b71c1c;
  --info: #2196f3;
  --success: #4caf50;
  --warning: #ff9800;
  --text: #ececec;
}

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

html {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'JetBrains Mono', 'Inter', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: var(--primary);
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  color: var(--textWhite);
  background: var(--backgroundColor);
  user-select: none;
}

body ::selection {
  background: rgb(128 0 128 / 35%);
}

.allowSelect {
  user-select: text;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--textWhite);
}

a {
  text-decoration: none;
  color: #00c3ff;
}

button,
input,
select,
textarea {
  border-style: none;
  background-color: transparent;
}

/* 
**  Scrollbars
*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  background: rgba(183, 0, 255, 0.175);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(183, 0, 255, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(183, 0, 255, 0.55);
  border: #069420c7 2px solid;
}

/* 
**  Layout
*/
.mainPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #navBar {
    width: 100vw;
  }
}

/* 
**  404
*/
.lostContainer {
  font-size: 1.5rem;
}

/* 
**  Stars
*/
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.star {
  position: absolute;
  border-radius: 50%;
  box-shadow:
    0 0 1px 0 rgba(255, 255, 255, 0.4),
    0 0 2px 0 rgba(255, 255, 255, 0.4),
    0 0 3px 0 rgba(255, 255, 255, 0.3),
    0 0 4px 0 rgba(255, 255, 255, 0.2);
  animation-name: twinkle;
  animation-iteration-count: infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

/* 
**  Forms
*/
#spicy .loginInput,
#spicy .registerInput,
#spicy .accountPWInput {
  border-color: #80008060;
  background-color: #00000080;
  font-size: 16px;
}

/* 
**  Other
*/
.spacetime .v-overlay__scrim {
  background: #000;
}

.v-ripple__animation {
  background: var(--primary);
  opacity: 0.3;
}

.error {
  color: var(--error);
  font-size: 14px;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 8px;
}

.success {
  color: var(--success);
  font-size: 14px;
  margin-bottom: 6px;
  padding: 8px;
}

/* 
**  Colors
*/

.textPrimary {
  color: var(--primary);
}

.textSecondary {
  color: var(--secondary);
}

.textAccent {
  color: var(--accent);
}

.green {
  color: #66bb6a;
}

.orange {
  color: #ff8a65;
}
