<template>
  <VLayout class="mainLayout">
    <NavBar :show-control-panel="showControlPanel" />
    <StarControl
      :initial-star-types="starTypes"
      :show-control-panel="showControlPanel"
      @update-star-frequencies="handleUpdateStarFrequencies"
    />
    <StarsView :star-types="starTypes" :star-count="starCount" :star-size="starSize" />
    <main class="mainContent">
      <div class="mainCard">
        <SocialIcons />
        <RouterView />
      </div>
    </main>
  </VLayout>
</template>

<script setup>
import { ref, onMounted, watch } from 'vue'
import NavBar from './comps/NavBar.vue'
import StarsView from './views/StarsView.vue'
import SocialIcons from './comps/SocialIcons.vue'
import { RouterView } from 'vue-router'
import { isLoggedIn } from './js/fileManager'
import StarControl from './comps/StarControl.vue'

const showControlPanel = ref([false])
const starCount = ref(localStorage.getItem('starCount') ? parseInt(localStorage.getItem('starCount')) : 100)
const starSize = ref(localStorage.getItem('starSize') ? parseInt(localStorage.getItem('starSize')) : 2)

const defaultStarTypes = ref([
  { type: 'M', color: '#ff5757', frequency: 60 }, // Red
  { type: 'K', color: '#ffac57', frequency: 20 }, // Orange
  { type: 'G', color: '#ffef61', frequency: 10 }, // Yellow
  { type: 'F', color: '#fff6a5', frequency: 8 }, // Yellow-white
  { type: 'A', color: '#e7efff', frequency: 6 }, // White
  { type: 'B', color: '#a5e7ff', frequency: 5 }, // Blue-white
  { type: 'O', color: '#3e41ff', frequency: 4 } // Blue
])

const storedStarTypes = localStorage.getItem('starTypes')
const starTypes = ref(storedStarTypes ? JSON.parse(storedStarTypes) : defaultStarTypes)

const handleUpdateStarFrequencies = (newStarTypes, newStarCount, newStarSize) => {
  starTypes.value = [...newStarTypes]
  starCount.value = newStarCount
  starSize.value = newStarSize
}

watch(starCount, (newCount) => {
  localStorage.setItem('starCount', newCount)
})

watch(starSize, (newSize) => {
  localStorage.setItem('starSize', newSize)
})

watch(starTypes, (newTypes) => {
  localStorage.setItem('starTypes', JSON.stringify(newTypes))
})

onMounted(() => {
  const wpLocation = document.getElementById('spacetime')
  const wallpaper = localStorage.getItem('wallpaper')

  isLoggedIn.value = localStorage.getItem('isLoggedIn') === 'true'
  if (wallpaper) {
    wpLocation.style.background = `url(${wallpaper}) center/cover no-repeat`
  } else {
    wpLocation.style.background = ''
  }
})
</script>

<style>
.mainLayout {
  height: 100vh;
  padding: 10px;
  align-items: center;
  display: flex;
}

.mainContent {
  flex: 1 0 fit-content;
}

.mainCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>
